.cart{
    position: sticky;
    top: 0;
    padding: 20px 10px;
}

.cart-text{
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}
.time{
    padding: 10px 4px;
    border-radius: 10px;
    background-color: gainsboro;
    margin-bottom: 20px;
}

