.header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: burlywood
   
}
.headerText{
    color: rgb(201, 97, 59);
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serifs;
    padding-bottom: 0;
}
.logoPic{
    height: 40px;
    width: 60px;
}