.break{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    background-color:  gainsboro;
    padding: 10px 8px;
}

.break-btn{
    
    border-radius: 25px;
    padding: 10px 8px;
}

.break-btn:hover {
    background-color:aquamarine;
}

.break p{
    padding: 20px; 
    border-radius: 30px;
    background-color: white;
    font-weight: 600;
}
